# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tianyanchaScrapy.settings

[deploy:tyc]
url = http://10.0.0.146:6800/
project = tianyanchaScrapy
